/* Estilos Gerais */
body{
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #FFF;
    font-size: 14px;
}

/* Barra de Navegação */
header, .navbar {
    background-color: #FFF;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

#navbar-links a {
    color: black;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}


/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 110vh;
}

#mainSlider .carousel-caption {
    top: 50%
}

#mainSlider .carousel-caption h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
}

.main-btn {
    background-color: #FFF;
    color: black;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
}

.carousel-indicators .active {
    background-color: #FFF;
}

h2 {
    color: #FFF;
}
h3 {
    text-align: center;
    margin-bottom: 50PX;
}

/* sobre a empresa */
.main-title{
    color: black;
    margin: 0 0 65px 0;
    font-size: 40px;
}
.main-title::after {
    content: "";
    border-top: 2px solid black;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
}
.text {
    color: black;
    text-align: center;
    margin-top: 100px;
}
.text1 {
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.img-fluid{
    height: 500px;
    margin-left: 70px;
    
}

/* Especialidades */

.text2 {
    margin: 15px;
    margin-right: 2px;
    color: black;
}
h4 {
    margin-left: 60px;
}
.text3 {
    margin: 15px;
    color: black;
    margin-left: 85px;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

/* Time */

.card-body {
    text-align: center;
    margin-left: 70px;
}

.row {
    justify-content: center;
}

.card-text, .card-title{
    color: black;
    margin-left: 10px;
    
}